/*!  Font Arrondi */

@font-face {
    font-family: 'Explora';
    src: url('../fonts/engine/arrondis/Explora.woff2') format('woff2'),
         url('../fonts/engine/arrondis/Explora.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Fontastique';
    src: url('../fonts/engine/arrondis/Fontastique.woff2') format('woff2'),
         url('../fonts/engine/arrondis/Fontastique.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Klasik';
    src: url('../fonts/engine/arrondis/Klasik.woff2') format('woff2'),
         url('../fonts/engine/arrondis/Klasik.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Maxwell';
    src: url('../fonts/engine/arrondis/Maxwell.woff2') format('woff2'),
         url('../fonts/engine/arrondis/Maxwell.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Raspoutine';
    src: url('../fonts/engine/arrondis/Raspoutine.woff2') format('woff2'),
         url('../fonts/engine/arrondis/Raspoutine.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*! Fonts creatives */


@font-face {
    font-family: 'Cavorting';
    src: url('../fonts/engine/creatives/Cavorting.woff2') format('woff2'),
         url('../fonts/engine/creatives/Cavorting.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'King Basil Lite';
    src: url('../fonts/engine/creatives/King-Basil-Lite.woff2') format('woff2'),
         url('../fonts/engine/creatives/King-Basil-Lite.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*! Futuriste fonts */



@font-face {
    font-family: 'ADAM.CG PRO';
    src: url('../fonts/engine/futuriste/ADAM.CG-PRO.woff2') format('woff2'),
         url('../fonts/engine/futuriste/ADAM.CG-PRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Ailerons';
    src: url('../fonts/engine/futuriste/Ailerons.woff2') format('woff2'),
         url('../fonts/engine/futuriste/Ailerons.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Kayak Sans';
    src: url('../fonts/engine/futuriste/Kayak-Sans.woff2') format('woff2'),
         url('../fonts/engine/futuriste/Kayak-Sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Myndraine';
    src: url('../fonts/engine/futuriste/Myndraine.woff2') format('woff2'),
         url('../fonts/engine/futuriste/Myndraine.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}






@font-face {
    font-family: 'Sansation';
    src: url('../fonts/engine/futuriste/Sansation.woff2') format('woff2'),
         url('../fonts/engine/futuriste/Sansation.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Ludicrous';
    src: url('../fonts/engine/creatives/Ludicrous.woff2') format('woff2'),
         url('../fonts/engine/creatives/Ludicrous.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Selima';
    src: url('../fonts/engine/creatives/Selima.woff2') format('woff2'),
         url('../fonts/engine/creatives/Selima.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'XPLOR Bold';
    src: url('../fonts/engine/creatives/XPLOR-Bold.woff2') format('woff2'),
         url('../fonts/engine/creatives/XPLOR-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*! Elegante fonts */



@font-face {
    font-family: 'Agne';
    src: url('../fonts/engine/elegante/Agne.woff2') format('woff2'),
         url('../fonts/engine/elegante/Agne.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Baskerville Old Face';
    src: url('../fonts/engine/elegante/Baskerville-Old-Face.woff2') format('woff2'),
         url('../fonts/engine/elegante/Baskerville-Old-Face.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Butler';
    src: url('../fonts/engine/elegante/Butler.woff2') format('woff2'),
         url('../fonts/engine/elegante/Butler.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Copperplate';
    src: url('../fonts/engine/elegante/Copperplate.woff2') format('woff2'),
         url('../fonts/engine/elegante/Copperplate.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Justus';
    src: url('../fonts/engine/elegante/Justus.woff2') format('woff2'),
         url('../fonts/engine/elegante/Justus.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Lucida Fax';
    src: url('../fonts/engine/elegante/Lucida-Fax.woff2') format('woff2'),
         url('../fonts/engine/elegante/Lucida-Fax.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Oranienbaum';
    src: url('../fonts/engine/elegante/Oranienbaum.woff2') format('woff2'),
         url('../fonts/engine/elegante/Oranienbaum.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'this';
    src: url('../fonts/engine/elegante/this.woff2') format('woff2'),
         url('../fonts/engine/elegante/this.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*! Font bold */

@font-face {
    font-family: 'Cornerstone';
    src: url('../fonts/engine/bold/Cornerstone.woff2') format('woff2'),
         url('../fonts/engine/bold/Cornerstone.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Designosaur';
    src: url('../fonts/engine/bold/Designosaur.woff2') format('woff2'),
         url('../fonts/engine/bold/Designosaur.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Freeroad';
    src: url('../fonts/engine/bold/Freeroad.woff2') format('woff2'),
         url('../fonts/engine/bold/Freeroad.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'OldSansBlack';
    src: url('../fonts/engine/bold/OldSansBlack.woff2') format('woff2'),
         url('../fonts/engine/bold/OldSansBlack.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Rodina';
    src: url('../fonts/engine/bold/Rodina.woff2') format('woff2'),
         url('../fonts/engine/bold/Rodina.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Tin Doghouse';
    src: url('../fonts/engine/bold/Tin-Doghouse.woff2') format('woff2'),
         url('../fonts/engine/bold/Tin-Doghouse.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Zwodrei';
    src: url('../fonts/engine/bold/Zwodrei.woff2') format('woff2'),
         url('../fonts/engine/bold/Zwodrei.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* NEW FONTS */

@font-face {
    font-family: 'Manteka';
    src: url('../fonts/engine/bold/Manteka.woff2') format('woff2'),
         url('../fonts/engine/bold/Manteka.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Horizon Rounded Bold';
    src: url('../fonts/engine/arrondis/HorizonRounded-Bold.woff2') format('woff2'),
         url('../fonts/engine/arrondis/HorizonRounded-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BDP Birgula';
    src: url('../fonts/engine/futuriste/BDP-Birgula.woff2') format('woff2'),
         url('../fonts/engine/futuriste/BDP-Birgula.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Walkway Black';
    src: url('../fonts/engine/futuriste/WalkwayBlack.woff2') format('woff2'),
         url('../fonts/engine/futuriste/WalkwayBlack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('../fonts/engine/elegante/WarnockPro-Regular.woff2') format('woff2'),
         url('../fonts/engine/elegante/WarnockPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Trajan Pro';
    src: url('../fonts/engine/elegante/TrajanPro-Bold.woff2') format('woff2'),
         url('../fonts/engine/elegante/TrajanPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sweaty';
    src: url('../fonts/engine/creatives/Sweaty.woff2') format('woff2'),
         url('../fonts/engine/creatives/Sweaty.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Androgyne';
    src: url('../fonts/engine/creatives/AndrogyneMedium.woff2') format('woff2'),
         url('../fonts/engine/creatives/AndrogyneMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Qlassik Bold';
    src: url('../fonts/engine/creatives/QlassikBold.woff2') format('woff2'),
         url('../fonts/engine/creatives/QlassikBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tabitha';
    src: url('../fonts/engine/creatives/Tabitha.woff2') format('woff2'),
         url('../fonts/engine/creatives/Tabitha.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shintia Script';
    src: url('../fonts/engine/creatives/ShintiaScript.woff2') format('woff2'),
         url('../fonts/engine/creatives/ShintiaScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Gotham Black';
    src: url('../fonts/engine/xxl/Gotham-Black.woff2') format('woff2'),
         url('../fonts/engine/xxl/Gotham-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura XBlk BT';
    src: url('../fonts/engine/xxl/FuturaBT-ExtraBlack.woff2') format('woff2'),
         url('../fonts/engine/xxl/FuturaBT-ExtraBlack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Debussy';
    src: url('../fonts/engine/xxl/Debussy.woff2') format('woff2'),
         url('../fonts/engine/xxl/Debussy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cunia';
    src: url('../fonts/engine/xxl/Cunia.woff2') format('woff2'),
         url('../fonts/engine/xxl/Cunia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/engine/xxl/Oswald-Bold.woff2') format('woff2'),
         url('../fonts/engine/xxl/Oswald-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Eras Bold ITC';
    src: url('../fonts/engine/xxl/ErasITC-Bold.woff2') format('woff2'),
         url('../fonts/engine/xxl/ErasITC-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Jaapokki';
    src: url('../fonts/engine/bold/Jaapokki-Regular.woff2') format('woff2'),
         url('../fonts/engine/bold/Jaapokki-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vieira';
    src: url('../fonts/engine/bold/Vieira.woff2') format('woff2'),
         url('../fonts/engine/bold/Vieira.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/engine/internationales/Ubuntu-Bold.woff2') format('woff2'),
         url('../fonts/engine/internationales/Ubuntu-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Scheherazade';
    src: url('../fonts/engine/internationales/Scheherazade-Bold.woff2') format('woff2'),
         url('../fonts/engine/internationales/Scheherazade-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Serif';
    src: url('../fonts/engine/internationales/PTSerif-Bold.woff2') format('woff2'),
         url('../fonts/engine/internationales/PTSerif-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Halant';
    src: url('../fonts/engine/internationales/Halant-Bold.woff2') format('woff2'),
         url('../fonts/engine/internationales/Halant-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

